body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    margin: auto;
    border-radius: 25px;
}
.inputsdiv label {
    display: inline-block;
    text-align: right;
}
.inputsdiv input {
    display: inline-block;
    text-align: left;
}
